:root {
  --color-primary: #1c84c6;
  --color-success: #1ab394;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --color-info: #3f5060;

  --text-color-light: #fff;
  --text-color: #999;
  --text-color-dark: #676a6c;

  --bg-color-lighter: #fff;
  --bg-color-light: #f3f3f4;
  --bg-color: #3f5060;
  --bg-color-dark: #2f4050;
  --bg-color-darker: #293846;

  --bg-card: #fff;
}
