:root {
  --color-primary: #2980b9;
  --color-success: #27ae60;
  --color-warning: #f39c12;
  --color-danger: #c0392b;
  --color-info: #7f8c8d;

  --text-color-light: #fff;
  --text-color: #999;
  --text-color-dark: #333;

  --bg-color-lighter: #fff;
  --bg-color-light: #ecf0f1;
  --bg-color: #44596e;
  --bg-color-dark: #34495e;
  --bg-color-darker: #2c3e50;

  --bg-card: #fff;
}
